@import './variables';

.featured {
    @include container;
    margin-top: 20px;
    &__header {
        display: grid;
        grid-template-columns: 4.5fr 2fr .5fr;
        align-items: center;
        @include md {
            grid-template-columns: 2.2fr 2fr .5fr;
        }
        &--navigate {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    &__products{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        @include sm {
            grid-template-columns: 1fr;
            row-gap: 15px;
            justify-items: center;
        }
    }
}