@import './variables';

.popular-categories {
    background-color: #ECECEC;
    padding-bottom: 40px;
    &__main {
        @include container;
        margin-top: 10px;
        &--header {
        }
        &--body {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}






.popular-item{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    max-width: 350px;
    height: 220px;
    border: 1px solid rgb(204, 204, 204);
    font-family: sans-serif;
    background-color: #fbfafa;
    &__image {
        width: 100%;
        object-fit: contain;
        // height: 100%;
        padding: 5px;
        margin: auto;
        padding: 10px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 85%;
        margin-top: auto;
        margin-bottom: auto;
        padding: 2px;
        &--title{
            font-size: 17px;
            font-weight: 600;
        }
        &--text {
            font-size: 11px;
            font-weight: 550;
            color: #3d3b3b;
        }
        &--show-all {
            font-size: 14px;
            font-weight: 600;
            color: #FFD819;
        }
    }
}