@import './variables';

.product-baner  {
    @include container;
    margin-top: 25px;
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    font-family: sans-serif;
    &__image {
        // width: 100%;
        // object-fit: contain;
    }

    &__info{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 80%;
        @include sm {
            top: 5%;
        }

        &--title {
            font-size: 23px;
            font-weight: 700;
            color: white;
        }
        &--text {
            color: rgb(255, 251, 251);
        }
    }

    
}