@import "./variables";
.button {
  height: 42px;
  width: 150px;
  background-color: #FFD819;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:active {
    outline: none;
    font-size: 15px;
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #d6b511;
  }
}
